html {
  font-size: 62.5%;
  font-family: arial;
}

body {
  margin: 20px;
}

h1 {
  font-size: 2rem;
  margin: 0 0 10px 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.9);
}

button {
  background-color: #232323;
  color: white;
  padding: 6px 12px;
  border: none;
  border-radius: 2px;
  display: block;
  margin-bottom: 12px;
  cursor: pointer;
}

#waveform {
  margin: 20px 0;
}
